html {
   background-color: #fff;
   font-family: 'Lato', sans-serif;
}

body {
   background-color: #fff;
}

.info {
   font-size: 25px;
   line-height: 40px;
   color: #fff;
   border: solid 2px #fff;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   position: absolute;
   top: 19px;
   right: 20px;
   text-align: center;
}

.overlay {
   font-size: 15px;
   line-height: 18px;
   position: absolute;
   top: -5px;
   right: 60px;
   opacity: 0;
   text-align: right;
   transition: .5s ease;
   width: max-content;
}

.info:hover .overlay {
   opacity: 1;
}

h1, h2, h3 {
   color: #4D4D4D;
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
}

.h1 {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #457664;
   color: #fff;
   font-family: 'Dancing Script', cursive;
   font-size: 2.5rem;
   font-weight: 500;
   height: 80px;
}

h2 {
   color: #BABABA;
}

h3 {
   display: none;
}

.center {
   text-align: center;
}

.drink-icons {
   display: inline-grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
   align-items: center;
}


img {
   border: solid 2px #fff;
}

fieldset {
   border: 0;
   outline: 0;
   padding: 0;
}
 
legend {
   float: left;
   width: 100%;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
 
.drink-img {
   width: 150px;
}
 
.label {
   display: block;
   margin: 1em 0;
}
 
.drink-icons label,
.drink-icons input {
   cursor: pointer;
}
 
.drink-icons input {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}
 
.drink-icons .drink-img {
   opacity: 0.6;
}
 
.drink-icons label:hover .drink-img,
.drink-icons input:hover + .drink-img,
.drink-icons input:checked + .drink-img {
   opacity: 1;
}
 
.text-input {
   background-color: #BABABA;
   color: #000;
   padding: 1vw;
   text-align: center;
   font-size: 2rem;
}
 
.text-input input {
   background-color: #fff;
   color: inherit;
   border: 0;
   outline: 0;
   -moz-appearance: textfield;
}

/*____________________Mobile view - iPhone X____________________*/

@media only screen and (max-width: 380px) {

.h1, .container {
   width: 139.5vw;
}

.text-input {
   padding: 0vw;
   padding-bottom: 3vw;
   padding-top: 3vw;
   font-size: 2rem;
   width: 139.5vw;
}

h2, label.label {
   margin-left: 40vw;
}

.info, .overlay {
   display: none;
}

h3 {
   color: #000;
   display: block;
}

}