html {
   background-color: #fff;
   font-family: 'Lato', sans-serif;
}

body {
   background-color: #fff;
}

.info {
   font-size: 25px;
   line-height: 40px;
   color: #fff;
   border: solid 2px #fff;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   position: absolute;
   top: 19px;
   right: 20px;
   text-align: center;
}

.overlay {
   font-size: 15px;
   line-height: 18px;
   position: absolute;
   top: -5px;
   right: 60px;
   opacity: 0;
   text-align: right;
   transition: .5s ease;
   width: max-content;
}

.info:hover .overlay {
   opacity: 1;
}

h1, h2, h3, h4 {
   color: #4D4D4D;
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
}

.h1 {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #457664;
   color: #fff;
   font-family: 'Oswald', sans-serif;
   font-size: 2rem;
   font-weight: 500;
   height: 80px;
   width: 100%;
   margin-top: 0px;
}

h2 {
   color: #BABABA;
}

img {
   width: 150px;
   opacity: 60%;
}

img:hover {
   opacity: 100%;
   cursor: pointer;
}

img:onclick {
   opacity: 100%;
}

.center {
   text-align: center;
}

.drink-icons {
   display: inline-grid;
   grid-template-columns: 33% 33% 33%;
   grid-column-gap: 20px;
   align-items: center;
}

form {
   background-color: #BABABA;
   padding: 1rem;
   text-align: center;
}